<a href="https://colab.research.google.com/github/JustKidding2K/ADS-CQ18-Project/blob/main/Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ĐỒ ÁN MÔN HỌC "KHOA HỌC DỮ LIỆU ỨNG DỤNG"

Giáo viên hướng dẫn: Trần Trung Kiên

Nhóm 6:

1. 18120212 - Huỳnh Long Nam

# 1. Mô tả bài toán

## 1.1 Giới thiệu bài toán

**Cuộc thi:** [Corporación Favorita Grocery Sales Forecasting](https://www.kaggle.com/competitions/favorita-grocery-sales-forecasting)

**Mô tả bài toán**:

- **Corporación Favorita** là một nhà bán lẻ lớn từ Ecuado, với hàng hàng trăm cửa hàng và hơn 200,000 mặt hàng được kinh doanh. Hệ thống phải đối mặt với vấn đề cung ứng số lượng hàng hóa cho các cửa hàng với đặc điểm khác nhau,... Nếu nhập quá nhiều, hàng hóa sẽ bị ùn ứ, hư hỏng. Nếu nhập quá ít, cửa hàng sẽ mất khách, giảm doanh thu, lợi nhuận.
- Do đó, Corporación Favorita tổ chức cuộc thi ***Corporación Favorita Grocery Sales Forecasting*** nhằm tìm ra mô hình dự doán chính xác nhất về doanh số của các mặt hàng, giải quyết bài toán cung ứng trên.
- Các đội thi sẽ phải dự đoán doanh số bán của hàng nghìn sản phẩm tại các cửa hàng của Favorita dựa trên các thông tin về thời gian, cửa hàng, sản phẩm, sản phẩm có được quảng bá hay không và số lượng sản phẩm đã bán được(tập train)

**Số đội tham dự:** 1,671

**Giải thưởng:** $tổng 30,000 trong đó:

- $15, 000 cho đội về 1

- $10, 000 cho đội về 2

- $ 5, 000 cho đội về 3

## 1.2 Sơ lược về dữ liệu

Dữ liều gồm 2 file chính: 

<code>train.csv</code> 
- 125,497,041 dòng (~4.99GB)
- Các thông tin bán hàng từ 01-01-2013 đến 15-08-2017

<code>test.csv</code>
- 3,370,464 dòng (~0.12 GB)
- Các thông tin bán hàng từ 16-08-2017 đến 31-08-2017 (bỏ cột unit_sales)

Mỗi dòng bao gồm thông tin về một sản phẩm được bán ra: 

Input:
- <code>date</code>: ngày bán 
- <code>store_nbr</code>: mã cửa hàng
- <code>item_nbr</code>: mã sản phẩm
- <code>onpromotion</code>: có đang được quảng bá

Output:
- <code>unit_sales</code>: số đơn vị bán được (số lượng, khối lượng, thể tích,...)

và các file dữ liệu khác bao gồm:

<code>stores.csv</code> : thông tin về cửa hàng (store_nbr, city, state, type, cluster)

<code>items.csv</code> :  thông tin về sản phẩm (item_nbr, family, class, perishable)

<code>transactions.csv</code> : doanh số bán từng ngày của từng cửa hàng (date, store_nbr, transactions)

<code>oil.csv</code> : giá dầu hàng ngày (date, dcoilwtico)

<code>holidays_events.csv</code> : các ngày lễ tại Ecuador (date, type,locale,locale_name, description, transferred)

## 1.3 Giới thiệu solution

- Solution được nhóm lựa chọn đạt được [top 1](https://www.kaggle.com/code/shixw125/1st-place-lgb-model-public-0-506-private-0-511) trên [Private Leaderboard](https://www.kaggle.com/competitions/favorita-grocery-sales-forecasting/leaderboard) với scorce <code>0.50918</code> theo độ lỗi <code>Normalized Weighted Root Mean Squared Logarithmic Error</code> (càng thấp càng tốt):

$$ NWRMSLE = \sqrt{ \frac{\sum{i=1}^n wi \left( \ln(\hat{y}i + 1) - \ln(yi +1)  \right)^2  }{\sum{i=1}^n wi}} $$

- Solution được đề cử bởi ba tác giả [pengyan](https://www.kaggle.com/pengyan), [shixw125](https://www.kaggle.com/shixw125), [infzero](https://www.kaggle.com/infzero) và được tác giả [shixw125](https://www.kaggle.com/shixw125) upload sau cuộc thi

- Solution chỉ sử dụng 59,038,132 (~ một nửa tập train)

# 2. Giải quyết bài toán

## 2.0 Import thư viện cần thiết

In [3]:
from google.colab import drive
import os

from datetime import date, timedelta
import gc
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

import lightgbm as lgb

## 2.1 Đọc dữ liệu

In [1]:
from google.colab import drive
import os

drive.mount("/content/gdrive", force_remount=True)
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/MyDrive"

Mounted at /content/gdrive

Tập train gồm khoảng 120 triệu dòng, là các đơn hàng được bán từ 01-01-2013 đến 15-08-2017. Ở đây, tác giả chỉ đọc dữ liệu từ 01-01-2016, với khoảng 60 triệu dòng (một nửa dữ liệu)
Tuy vậy, việc đọc dữ liệu cũng tốt gần 4'

In [4]:
df_train = pd.read_csv(
    'gdrive/MyDrive/input/train.csv', usecols=[1, 2, 3, 4, 5],
    dtype={'onpromotion': bool},
    converters={'unit_sales': lambda u: np.log1p(
        float(u)) if float(u) > 0 else 0},
    parse_dates=["date"],
    skiprows=range(1, 66458909)  # 2016-01-01
)

In [5]:
# show
df_train

               date  store_nbr  item_nbr  unit_sales  onpromotion
0        2016-01-01         25    105574    2.564949        False
1        2016-01-01         25    105575    2.302585        False
2        2016-01-01         25    105857    1.386294        False
3        2016-01-01         25    108634    1.386294        False
4        2016-01-01         25    108701    1.098612         True
...             ...        ...       ...         ...          ...
59038127 2017-08-15         54   2089339    1.609438        False
59038128 2017-08-15         54   2106464    0.693147         True
59038129 2017-08-15         54   2110456    5.262690        False
59038130 2017-08-15         54   2113914    5.293305         True
59038131 2017-08-15         54   2116416    1.098612        False

[59038132 rows x 5 columns]

Tập test là  các đơn hàng được bán từ 16-08-2017 đến 31-08-2017 (bỏ đi phần unit_sales), với hơn 3 triệu dòng

In [8]:
df_test = pd.read_csv(
    "gdrive/MyDrive/input/test.csv", usecols=[0, 1, 2, 3, 4],
    dtype={'onpromotion': bool},
    parse_dates=["date"]  # , date_parser=parser
).set_index(
    ['store_nbr', 'item_nbr', 'date']
)

In [9]:
# show
df_test

                                      id  onpromotion
store_nbr item_nbr date
1         96995    2017-08-16  125497040        False
          99197    2017-08-16  125497041        False
          103501   2017-08-16  125497042        False
          103520   2017-08-16  125497043        False
          103665   2017-08-16  125497044        False
...                                  ...          ...
54        2132163  2017-08-31  128867499        False
          2132318  2017-08-31  128867500        False
          2132945  2017-08-31  128867501        False
          2132957  2017-08-31  128867502        False
          2134244  2017-08-31  128867503        False

[3370464 rows x 2 columns]

Bên cạnh đó là các file dữ liệu khác: items, stores

In [10]:
items = pd.read_csv(
    "gdrive/MyDrive/input/items.csv",
).set_index("item_nbr")

In [11]:
# show
items

                    family  class  perishable
item_nbr
96995            GROCERY I   1093           0
99197            GROCERY I   1067           0
103501            CLEANING   3008           0
103520           GROCERY I   1028           0
103665        BREAD/BAKERY   2712           1
...                    ...    ...         ...
2132318          GROCERY I   1002           0
2132945          GROCERY I   1026           0
2132957          GROCERY I   1068           0
2134058          BEVERAGES   1124           0
2134244   LIQUOR,WINE,BEER   1364           0

[4100 rows x 3 columns]

In [13]:
stores = pd.read_csv(
    "gdrive/MyDrive/input/stores.csv",
).set_index("store_nbr")

In [15]:
# stores
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

## 2.2 Tiền xử lý, tính toán các bảng cần thiết

Encode các giá trị categorical

In [16]:
le = LabelEncoder()
items['family'] = le.fit_transform(items['family'].values)

stores['city'] = le.fit_transform(stores['city'].values)
stores['state'] = le.fit_transform(stores['state'].values)
stores['type'] = le.fit_transform(stores['type'].values)

Tác giả lại loại bỏ các dữ liệu trước 01-01-2017

In [17]:
df_2017 = df_train.loc[df_train.date>=pd.datetime(2017,1,1)]
del df_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [18]:
promo_2017_train = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["onpromotion"]].unstack(
        level=-1).fillna(False)
promo_2017_train.columns = promo_2017_train.columns.get_level_values(1)
promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)
promo_2017 = pd.concat([promo_2017_train, promo_2017_test], axis=1)
del promo_2017_test, promo_2017_train

In [20]:
df_2017 = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["unit_sales"]].unstack(
        level=-1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)

In [21]:
items = items.reindex(df_2017.index.get_level_values(1))
stores = stores.reindex(df_2017.index.get_level_values(0))

In [22]:
df_2017_item = df_2017.groupby('item_nbr')[df_2017.columns].sum()
promo_2017_item = promo_2017.groupby('item_nbr')[promo_2017.columns].sum()

In [23]:
df_2017_store_class = df_2017.reset_index()
df_2017_store_class['class'] = items['class'].values
df_2017_store_class_index = df_2017_store_class[['class', 'store_nbr']]
df_2017_store_class = df_2017_store_class.groupby(['class', 'store_nbr'])[df_2017.columns].sum()

In [24]:
df_2017_promo_store_class = promo_2017.reset_index()
df_2017_promo_store_class['class'] = items['class'].values
df_2017_promo_store_class_index = df_2017_promo_store_class[['class', 'store_nbr']]
df_2017_promo_store_class = df_2017_promo_store_class.groupby(['class', 'store_nbr'])[promo_2017.columns].sum()

## Các hàm cần thiết

In [25]:
def get_timespan(df, dt, minus, periods, freq='D'):
    return df[pd.date_range(dt - timedelta(days=minus), periods=periods, freq=freq)]

def prepare_dataset(df, promo_df, t2017, is_train=True, name_prefix=None):
    X = {
        "promo_14_2017": get_timespan(promo_df, t2017, 14, 14).sum(axis=1).values,
        "promo_60_2017": get_timespan(promo_df, t2017, 60, 60).sum(axis=1).values,
        "promo_140_2017": get_timespan(promo_df, t2017, 140, 140).sum(axis=1).values,
        "promo_3_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 3).sum(axis=1).values,
        "promo_7_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 7).sum(axis=1).values,
        "promo_14_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 14).sum(axis=1).values,
    }

    for i in [3, 7, 14, 30, 60, 140]:
        tmp1 = get_timespan(df, t2017, i, i)
        tmp2 = (get_timespan(promo_df, t2017, i, i) > 0) * 1

        X['has_promo_mean_%s' % i] = (tmp1 * tmp2.replace(0, np.nan)).mean(axis=1).values
        X['has_promo_mean_%s_decay' % i] = (tmp1 * tmp2.replace(0, np.nan) * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values

        X['no_promo_mean_%s' % i] = (tmp1 * (1 - tmp2).replace(0, np.nan)).mean(axis=1).values
        X['no_promo_mean_%s_decay' % i] = (tmp1 * (1 - tmp2).replace(0, np.nan) * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values

    for i in [3, 7, 14, 30, 60, 140]:
        tmp = get_timespan(df, t2017, i, i)
        X['diff_%s_mean' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s_decay' % i] = (tmp * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
        X['mean_%s' % i] = tmp.mean(axis=1).values
        X['median_%s' % i] = tmp.median(axis=1).values
        X['min_%s' % i] = tmp.min(axis=1).values
        X['max_%s' % i] = tmp.max(axis=1).values
        X['std_%s' % i] = tmp.std(axis=1).values

    for i in [3, 7, 14, 30, 60, 140]:
        tmp = get_timespan(df, t2017 + timedelta(days=-7), i, i)
        X['diff_%s_mean_2' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s_decay_2' % i] = (tmp * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
        X['mean_%s_2' % i] = tmp.mean(axis=1).values
        X['median_%s_2' % i] = tmp.median(axis=1).values
        X['min_%s_2' % i] = tmp.min(axis=1).values
        X['max_%s_2' % i] = tmp.max(axis=1).values
        X['std_%s_2' % i] = tmp.std(axis=1).values

    for i in [7, 14, 30, 60, 140]:
        tmp = get_timespan(df, t2017, i, i)
        X['has_sales_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_sales_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_sales_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

        tmp = get_timespan(promo_df, t2017, i, i)
        X['has_promo_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_promo_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_promo_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

    tmp = get_timespan(promo_df, t2017 + timedelta(days=16), 15, 15)
    X['has_promo_days_in_after_15_days'] = (tmp > 0).sum(axis=1).values
    X['last_has_promo_day_in_after_15_days'] = i - ((tmp > 0) * np.arange(15)).max(axis=1).values
    X['first_has_promo_day_in_after_15_days'] = ((tmp > 0) * np.arange(15, 0, -1)).max(axis=1).values

    for i in range(1, 16):
        X['day_%s_2017' % i] = get_timespan(df, t2017, i, 1).values.ravel()

    for i in range(7):
        X['mean_4_dow{}_2017'.format(i)] = get_timespan(df, t2017, 28-i, 4, freq='7D').mean(axis=1).values
        X['mean_20_dow{}_2017'.format(i)] = get_timespan(df, t2017, 140-i, 20, freq='7D').mean(axis=1).values

    for i in range(-16, 16):
        X["promo_{}".format(i)] = promo_df[t2017 + timedelta(days=i)].values.astype(np.uint8)

    X = pd.DataFrame(X)

    if is_train:
        y = df[
            pd.date_range(t2017, periods=16)
        ].values
        return X, y
    if name_prefix is not None:
        X.columns = ['%s_%s' % (name_prefix, c) for c in X.columns]
    return X

## 2.3

In [26]:
print("Preparing dataset...")
t2017 = date(2017, 6, 14)
num_days = 6
X_l, y_l = [], []
for i in range(num_days):
    delta = timedelta(days=7 * i)
    X_tmp, y_tmp = prepare_dataset(df_2017, promo_2017, t2017 + delta)

    X_tmp2 = prepare_dataset(df_2017_item, promo_2017_item, t2017 + delta, is_train=False, name_prefix='item')
    X_tmp2.index = df_2017_item.index
    X_tmp2 = X_tmp2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

    X_tmp3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, t2017 + delta, is_train=False, name_prefix='store_class')
    X_tmp3.index = df_2017_store_class.index
    X_tmp3 = X_tmp3.reindex(df_2017_store_class_index).reset_index(drop=True)

    X_tmp = pd.concat([X_tmp, X_tmp2, X_tmp3, items.reset_index(), stores.reset_index()], axis=1)
    X_l.append(X_tmp)
    y_l.append(y_tmp)

    del X_tmp2
    gc.collect()

X_train = pd.concat(X_l, axis=0)
y_train = np.concatenate(y_l, axis=0)

del X_l, y_l
X_val, y_val = prepare_dataset(df_2017, promo_2017, date(2017, 7, 26))

X_val2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 7, 26), is_train=False, name_prefix='item')
X_val2.index = df_2017_item.index
X_val2 = X_val2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

X_val3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 7, 26), is_train=False, name_prefix='store_class')
X_val3.index = df_2017_store_class.index
X_val3 = X_val3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_val = pd.concat([X_val, X_val2, X_val3, items.reset_index(), stores.reset_index()], axis=1)

X_test = prepare_dataset(df_2017, promo_2017, date(2017, 8, 16), is_train=False)

X_test2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 8, 16), is_train=False, name_prefix='item')
X_test2.index = df_2017_item.index
X_test2 = X_test2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

X_test3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 8, 16), is_train=False, name_prefix='store_class')
X_test3.index = df_2017_store_class.index
X_test3 = X_test3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_test = pd.concat([X_test, X_test2, X_test3, items.reset_index(), stores.reset_index()], axis=1)

del X_test2, X_val2, df_2017_item, promo_2017_item, df_2017_store_class, df_2017_promo_store_class, df_2017_store_class_index
gc.collect()

print("Training and predicting models...")
params = {
    'num_leaves': 80,
    'objective': 'regression',
    'min_data_in_leaf': 200,
    'learning_rate': 0.02,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.7,
    'bagging_freq': 1,
    'metric': 'l2',
    'num_threads': 16
}

MAX_ROUNDS = 5000
val_pred = []
test_pred = []
cate_vars = []
for i in range(16):
    print("=" * 50)
    print("Step %d" % (i+1))
    print("=" * 50)
    dtrain = lgb.Dataset(
        X_train, label=y_train[:, i],
        categorical_feature=cate_vars,
        weight=pd.concat([items["perishable"]] * num_days) * 0.25 + 1
    )
    dval = lgb.Dataset(
        X_val, label=y_val[:, i], reference=dtrain,
        weight=items["perishable"] * 0.25 + 1,
        categorical_feature=cate_vars)
    bst = lgb.train(
        params, dtrain, num_boost_round=MAX_ROUNDS,
        valid_sets=[dtrain, dval], early_stopping_rounds=125, verbose_eval=50
    )
    print("\n".join(("%s: %.2f" % x) for x in sorted(
        zip(X_train.columns, bst.feature_importance("gain")),
        key=lambda x: x[1], reverse=True
    )))
    val_pred.append(bst.predict(
        X_val, num_iteration=bst.best_iteration or MAX_ROUNDS))
    test_pred.append(bst.predict(
        X_test, num_iteration=bst.best_iteration or MAX_ROUNDS))

print("Validation mse:", mean_squared_error(
    y_val, np.array(val_pred).transpose()))

weight = items["perishable"] * 0.25 + 1
err = (y_val - np.array(val_pred).transpose())**2
err = err.sum(axis=1) * weight
err = np.sqrt(err.sum() / weight.sum() / 16)
print('nwrmsle = {}'.format(err))

y_val = np.array(val_pred).transpose()
df_preds = pd.DataFrame(
    y_val, index=df_2017.index,
    columns=pd.date_range("2017-07-26", periods=16)
).stack().to_frame("unit_sales")
df_preds.index.set_names(["store_nbr", "item_nbr", "date"], inplace=True)
df_preds["unit_sales"] = np.clip(np.expm1(df_preds["unit_sales"]), 0, 1000)
df_preds.reset_index().to_csv('lgb_cv.csv', index=False)

print("Making submission...")
y_test = np.array(test_pred).transpose()
df_preds = pd.DataFrame(
    y_test, index=df_2017.index,
    columns=pd.date_range("2017-08-16", periods=16)
).stack().to_frame("unit_sales")
df_preds.index.set_names(["store_nbr", "item_nbr", "date"], inplace=True)

submission = df_test[["id"]].join(df_preds, how="left").fillna(0)
submission["unit_sales"] = np.clip(np.expm1(submission["unit_sales"]), 0, 1000)
submission.to_csv('lgb_sub.csv', float_format='%.4f', index=None)

Preparing dataset...

KeyError: ignored

# 3. NHÌN LẠI QUÁ TRÌNH LÀM ĐỒ ÁN

# 4. TÀI LIỆU THAM KHẢO

EDA : [Shopping for Insights - Favorita EDA](https://www.kaggle.com/code/headsortails/shopping-for-insights-favorita-eda)

Solution: [1st Place LGB Model(public:0.506, private:0.511)](https://www.kaggle.com/code/shixw125/1st-place-lgb-model-public-0-506-private-0-511/script)